#back-btn{
  display: flex;
  margin: 20px auto;
  padding: 5px 10px;
  cursor: pointer;
  background: #69c6ff;
  border: 3px solid orange;
  color: white;
  transition: all 0.3s ease;
}
#back-btn:hover{
  box-shadow: 0 0 5px red;
}
#image-box{
  height:300px;
  display:flex;
  align-items: center;
  justify-content: center;
}
#image-box>img{
  height:100%
}
#profile-box{
  padding:16px;
  margin:8px 0 0 0;
  border-bottom: 1px solid #e9ecef;
  display:flex;
  align-items: center;
}
#profile-box>img{
  width:30px;
  height:30px;
}
#profile-box>span{
  font-size:15px;
  margin-left:8px;
  font-weight:600;
}
#contents-box{
  padding:16px;
}
#name{
  font-size:20px;
  font-weight:400;
  padding: 10px 0 5px 0;
  margin: 0 8px;
}
#price{
  font-size:16px;
  font-weight: 600;
  padding: 5px 0 10px 0;
  margin: 0 8px;
}
#createdAt{
  font-size: 12px;
  color:rgb(204,204,204);
  margin: 0 8px;
}
#description{
  font-size: 1em;
  line-height: 1.7;
  margin: 0 0 8px 8px;
  color: orange;
  font-weight: 600;
}
.purchase{
  margin:16px 8px 16px 8px;
}